
<h1>Availabilities Calendar was sucessifully created</h1>

<p> qui vedoquesti dati </p>


        


  <ul>
        <li><h6>ROOM ID</h6><span class="red-text">{{roomId}}</span></li>
        <li><h6>ratename</h6><span class="red-text">{{ratename}}</span></li>
        <li><h6>roomname</h6><span class="red-text">{{roomname}}</span></li>
        <li><h6>propertyname</h6><span class="red-text">{{propertyname}}</span></li>
        <li><h6>Rate</h6><span class="red-text">{{rate}}</span></li>
        <li><h6>rateArray</h6><span class="red-text">{{rateArray}}</span></li>
        <li><h6>Property equivale</h6><span class="red-text">{{property}}</span></li>
        <li><h6>rateName equivale</h6><span class="red-text">{{rate.nameRate}} </span></li>
        <li><h6>rateName id</h6><span class="red-text">{{rate._id}} </span></li>
        <li> <h6>nameRateId equivale</h6><span class="red-text">{{nameRateId}}</span></li>
        <li> <h6>rateNameExtended equivale</h6><span class="red-text">{{rateNameExtended}}</span></li>
        <li><h6>FROM equivale</h6><span class="red-text">{{formatDate2 from}}</span></li>
        <li><h6>TO equivale</h6><span class="red-text">{{to}}</span></li>
      </ul>


      <h1><a href="/calendar/showratedetails/{{roomId}}/{{nameRateId}}">Vai alla pgina di dettaglio delle tariffe</a></h1>